{% extends 'base.html' %} {% block content %}
<section style="min-height:100vh">
  <div class="container py-5">
    <div class="row ">
     <label class="fw-bold"> <h1>feedback form</h1></label>    
        <div class="col-log-6">
          <div class="card">
            <div class="card-body">
              <form action="" method="post">
                {% csrf_token %}
                <table>
                  <tbody>
                    {{form.as_p}}
                  </tbody>
                </table>
                <button class="btn btn-primary" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
    </div>   
  </div>
</section>
{% endblock content %}
