{% extends 'base.html' %} {% block content %}
<!-- order box -->
<secton class = "float-end">
<div class="container text-right">
  <div class="container align-items-left text-left">
    <div class="row justify-content-center align-items-left h-100">
      <div class="col-md-10 col-4 col-xl-10">
        {% if user.freelancermodel %}
        <div class="card card-stepper card shadow" style="border-radius: 5px">
          <div class="card-header p-4">
            <div class="d-flex justify-content-between align-items-right">
              <div>
                <p class="text-muted mb-0">
                  Place On <span class="text-body">12,March 2019</span>
                </p>
              </div>
              <div class="container" style="color: gold">
                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                  class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
              </div>
              <div class="container" style="font-style: bold; font-size: larger">
                <i class="fa-solid fa-indian-rupee-sign"></i>
                <strong>{{user.freelancermodel.price}}</strong>
              </div>
            </div>
            <br />
            <div class="container_fluid fw-bold">
              <a href="{% url 'core:payment' %}"><button type="button" class="btn btn-success">
                  Order now
                </button>
              </a>
            </div>
          </div>
          <div class="card-body p-4">
            <div class="d-flex flex-row mb-4 pb-2">
              <p class="text-muted" style="font-size: small">
                Tracking Status on:
                <span class="text-body">11:30pm, Today</span>
              </p>
              <p class="container" style="font-size: bold">
                <span class="text-body">{{user.freelancermodel.maximum_delivery_time}} Days</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</secton>
<!-- order box end -->

<section class="container-flex">
  <div class="row">
    <div class="col">
      <div class="justify-content-center">
        <!--profile picture  -->
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <img src="{{user.profilemodel.image.url}}" alt="Avatar" class="avatar"
                style="width: 250px; height: 250px" />
            </div>
          </div>
        </div>
        <!-- profile picture end -->
        <h4 class="display-6 fw-bold text-uppercase text-center">{{user.profilemodel.first_name}}
          {{user.profilemodel.last_name}}</h4>
        <p class="display-7 fw-bold text-uppercase text-center" style="font-weight: bold">
          {{user.freelancermodel.current_position}}
        </p>
      </div>
      <!-- section social media -->
      <section class="justify-content-center container-flex">

        <div class="container-flex text-center">
          <a class="btn text-white btn-floating m-1" style="background-color: #3b5998" href="#!" role="button">
            <i class="fa-brands fa-facebook"></i></a>
          <a class="btn text-white btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i
              class="fab fa-twitter"></i></a>
          <a class="btn text-white btn-floating m-1" style="background-color: darkred" href="#!" role="button"><i
              class="fab fa-google"></i></a>
          <a class="btn text-green btn-floating m-1" style="background-color: red" href="#!" role="button"><i
              class="fab fa-instagram"></i></a>
          <a class="btn text-white btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i
              class="fab fa-linkedin-in"></i></a>
        </div>
      </section>
      <!-- message and resume button section -->
      <section class="container-flex">
        <!-- Resume Modal START -->
        <div class="modal fade" 
          id="resume_modal_" 
          data-bs-backdrop="static" 
          data-bs-keyboard="false" 
          tabindex="-1" 
          aria-labelledby="resume_modal_label" 
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="resume_modal_label">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <img src="{{user.freelancermodel.resume.url}}" alt="" class="img-fluid">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Resume Modal END -->
        <div class="container justify-content-between text-center">
          <button type="button" class="btn btn-outline-success rounded-pill">Message</button>
          <button 
            type="button" 
            class="btn btn-outline-primary rounded-pill"
            data-bs-toggle="modal" 
            data-bs-target="#resume_modal_"
          >
            Resume 
            <i class="fa-solid fa-file-lines"></i>
            </button>
        </div>
      </section>
    </div>
  </section>
</section><hr/>

<!-- <-- description section -->

<section class="container-flex" style="height:20vh">
  <label class="fw-bold">
    <h2 class="display-6" style="font-weight: bold">Description</h2>
  </label>
  <div class="container-flex italic">
    {{user.freelancermodel.about_me}}
  </div>
</section><hr/>

<!-- skills section -->
<section class="container-flex py-3 h-100" style="height:20vh">
  <label class="fw-bold">
    <h2 class="display-6" style="font-weight: bold">Skills</h2>
  </label>
  {% for skill in user.freelancermodel.skills.all %}
  <div class="col-auto">
    <span class="badge rounded-pill bg-success text-uppercase " style="width:auto;font-size:medium;">{{skill}}</span>
  </div>
  {% empty %}
  <div class="col">
    <p class="card-text">No skills are added!</p>
  </div>
  {% endfor %}
</section><hr/>

<!-- previous projects -->
<section class="container-fluid py-2 h-100">
  <label class="fw-bold">
    <h2 class="display-6" style="font-weight: bold">My Projects</h2>
  </label>
  <div class="container-fluid">
    {% for project in user.freelancermodel.previous_projects.all %}
    <div class="row gy-5">
      <div class="col-md-6">
        <img src="{{project.file.url}}" alt="projects"
          style="width: 400px; height: 250px" />
      </div>
    </div>
    {% empty %}
    <div class="col">
      <p class="card-text">No projects are uploaded</p>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <a href="" class="btn btn-primary">Become a Freelancer</a>
  {% endif %}
</section><hr/>
<!-- --------Review section------ -->
<section class="container-fluid py-5 h-100">
  <div class="row">
    <!-- customer reviews list -->
    <div class="col-lg-8 col-md-7 col-12">
      <div class="d-flex align-items-center justify-content-between mb-4">
        <div>
          <label class="fw-bold">
            <h2 class="display-6" style="font-weight: bold">Ratings & Reviews</h2>
          </label>
        </div>
      </div>
      <!-- reviews -->
      <div class="mb-4 pb-4 border-bottom">
        <div class="d-flex mb-3 align-items-center">
          <img src="media/default/avatar.jpg" alt="" class="rounded-circle avatar-lg" />
          <div class="ml-2">
            <h5 class="mb-1 fw-bold">Sohail Rahman</h5>
          </div>
        </div>
        <div class="mb-2">
          <span class="font-14 mr-2"><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i
              class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i
              class="far fa-star text-warning"></i></span>
          <span class="h4 fw-bold">Highly recommended</span>
        </div>
        <p><i> best work</i></p>
      </div>
      <!-- reviews -->
      <div class="mb-4 pb-4 border-bottom">
        <div class="d-flex mb-3 align-items-center">
          <img src="media/default/avatar.jpg" alt="" class="rounded-circle avatar-lg" />
          <div class="ml-2">
            <h5 class="mb-1 fw-bold">
              shanker ramkrishna
              <img src="../assets/images/verified.svg" alt="" />
            </h5>
          </div>
        </div>
        <div class="mb-2">
          <span class="font-14 mr-2"><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i
              class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i
              class="far fa-star text-warning"></i></span>
          <span class="h4 fw-bold">Awesome work</span>
        </div>
        <p>
          <i> his work was awesome.One of the best ever</i>
        </p>
      </div>
      <!-- reviews -->
      <div class="mb-4 pb-4 border-bottom">
        <div class="d-flex mb-3 align-items-center">
          <img src="media/default/avatar.jpg" alt="" class="rounded-circle avatar-lg" />
          <div class="ml-2">
            <h5 class="mb-1 fw-bold">Francis joseph kalappura</h5>
          </div>
        </div>
        <div class="mb-2">
          <span class="font-14 mr-2"><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i
              class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i
              class="far fa-star text-warning"></i></span>
          <span class="h4 fw-bold">Absolutely superb!</span>
        </div>
        <p>
          <i> fast delivery and secure secure</i>
        </p>
      </div>
    </div>
</section>
{% endblock content %}