{% extends 'base.html' %} {% block content %}
<section class="py-5 min-height:100vh">
    <div class="container min-height:100vh">
      <div class="row">
        <div class="col">
          <h2 class="text-center fw-bold">Delete Your Freelancer Profile</h2>
          <hr />
        </div>
      </div> 
        <div class="align-items-center">
          <div class="card align-items-center">
            <div class="card-body">
              <form action="" method="post">
                {% csrf_token %}
                <h5>Your Freelancer account will be deleted permanently</h5>
               <button class="btn btn-danger" type="submit">Delete</button>
              </form>
            </div>
          </div>
        </div>
    </div>
  </section>

{% endblock content %}