{% extends 'base.html' %} {% block content %}
<section class="image1">

<div class="container-flex bg-img" id="gig" style="background-clip:url(keyboard.mp4.mp4);background-size: cover;">
  
  <div class="container"><br>
    <label class="fw-bold" ><h1><u>START YOUR CAREER AS A FREELANCER</h1></u></label><br><br>
    
    <ul>
      <ol>
        <li>
          <i class="fa-solid fa-graduation-cap"></i>

           Learn more about JOBSEEKER
        </li><br>
        <li>
          <i class="fa-regular fa-id-card"></i>

          Make Your Profile
        </li><br>
        <li>
            <i class="fa-solid fa-briefcase"></i>

        </i>

          Offer your Services for users
        </li><br>
      </ul>
      
     <div class="text-center"> <a href="{% url 'user:becomeafreelancer' %}"><button type="button" class="btn btn-success">Continue</button></div></a>
    </ol>
  </div>
  
</div>
</style>
</section>
{% endblock content %}
