{% extends 'base.html' %} {% block content %}
<!-- freelancerupdate -->
<section class="container-fluid">
    <div class="container py-5" style="min-height:100vh ;">
      <div class="row">
          <h1 class="text-dark fw-bold text-center">Edit Your Freelancer Profile</h1> 
        <div class="card text-align-center container-flex">
          <div class="col-lg-6">
            <div class="container-flex">
              <div class="container" style="text-align: justify;" >
                <form action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <table>
                    <tbody>
                      {{form.as_p}}
                    </tbody>
                  </table>
                  <button class="btn btn-primary" type="submit">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock content %}

