{% extends 'base.html' %}{% block content %}

<section class="white" style="min-height:100vh">
  <div>

    <h1 class="poppins text-center pt-5 fw-bold text-black"><strong>JOBSEEKER</strong></h1>
    </a>
  </div>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      
      <div class="col col-lg-9 col-xl-7">
        <div class="card shadow">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height: 200px">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px">
              {% if user.profilemodel %}

              <div>
                <a href="{% url 'user:profile_update' user.profilemodel.id %}" class="day">
                  <button type="button" class="btn btn-success padding" data-mdb-ripple-color="dark" style="z-index: 1">
                    Edit profile
                  </button></a>
                </div>

              <img id="profileImage" src="{{user.profilemodel.image.url}}" alt="Generic placeholder image"
                class="img-fluid img-thumbnail mt-4 mb-2" style="height:auto;" />
                
              </div>
              <div class="ms-3" style="margin-top: 130px">
              <h5 class="text-capitalize">{{user.profilemodel.user}}</h5>
              <p>{{user.profilemodel.first_name}}</p>
            </div>
          </div><br><br>
          <div class="container">
            {% if user.freelancermodel %}
            <div class="row-3">
              <div class="col-3">
              <a href="{% url 'user:freelancerupdate' user.freelancermodel.id %}" class="day">
                <button type="button" class="btn btn-success padding fw-bold" data-mdb-ripple-color="dark" style="z-index: 1">
                  Update Freelancer Profile
                </button></a>
              </div>
            </div>
            <div class="row-2 float-end">
              <div class="col-3">
                <a href="{% url 'user:freelancerdelete' %}" class="day">
                  <button type="button" class="btn btn-outline-danger padding fw-bold" data-mdb-ripple-color="dark" style="z-index: 1">
                    Delete Freelancer Profile
                  </button></a>
                </div>
              </div>
            {% else %}
            <div class="row-3">
              <div class="col-3">
              <a href="{% url 'user:freelancercreate' %}" class="day">
                <button type="button" class="btn btn-outline-success padding fw-bold" data-mdb-ripple-color="dark" style="z-index: 1">
                  Sign up as Freelancer
                </button></a>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="card-body container-flex text-dark">
            <div class="mb-5">
              <div class="p-4 card-shadow" style="background-color:whitesmoke">
                <p class="font-italic mb-1 text-capitalize">
                  First name : {{user.profilemodel.first_name}}</p>
                <p class="font-italic mb-1 text-capitalize">
                  Last name : {{user.profilemodel.last_name}}</p>
                <p class="font-italic mb-1 text-capitalize">
                  Gender : {{user.profilemodel.gender}}</p>
                <p class="font-italic mb-1">
                  Phone number : {{user.profilemodel.phone_number}}</p>

              </div>
            </div>
            {% else %}
            <div class="text-center text-align-justify" style="width:max-content;">
              <label style="font-size:smaller;"><a href="{% url 'user:profile_create' %}">
                  Create Profile 
                </a>
              </label>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}